---
- hostname: name={{ ansible_fqdn }}
- lineinfile: dest=/etc/hosts regexp=" {{ ansible_hostname }} " line="{{ ansible_em1.ipv4.address }} {{ ansible_hostname}} {{ ansible_fqdn }}" owner=root group=root mode=0644

- yum: name=http://plain.resources.ovirt.org/pub/yum-repo/ovirt-release35.rpm state=installed

- yum: name=ovirt-engine-setup-plugin-allinone state=present

- template: src="{{ templates }}/ovirt-engine.answers.j2" dest={{ ovirt_answers_file }}
- command: engine-setup --config={{ ovirt_answers_file }} --jboss-home={{ ovirt_jboss_home }}
           creates=/var/lib/ovirt-engine/engine.up

#- name: restart machine
#  command: shutdown -r now "Ansible updates triggered"
#  async: 0
#  poll: 0
#  ignore_errors: true

#- name: waiting for server to come back
#  local_action: wait_for host={{ inventory_hostname }} state=started
#  sudo: false

#- service: name=dhcpd state=started enabled=yes
#- service: name=tftp.socket state=started enabled=yes

#- firewalld: service=http permanent=true state=enabled
#  notify: reload firewalld
